.produce
  %ul.images
    %li.images__top
      %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/V/W/1598292039_051J22A1166_X0200_E01_ZHC.jpg?imwidth=870" class="images__top__main")
    %ul.images__second
      %li.images__second__left
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/grid_image_8/460x497/17f82f742ffe127f42dca9de82fb58b1/V/W/1598292039_051J22A1166_X0200_E08_GH.jpg?imwidth=430" class="images__second__left__images")
      %li.images__second__right
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/grid_image_9/460x497/17f82f742ffe127f42dca9de82fb58b1/V/W/1598292040_051J22A1166_X0200_E09_GH.jpg?imwidth=430" class="images__second__right__images")

    %ul.images__third
      %li.images__third__left
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/grid_image_12/460x497/17f82f742ffe127f42dca9de82fb58b1/8/t/1598633116_051J22A1166_X0200_E12_GH.jpg?imwidth=430" class="images__third__left__images")
      %li.images__third__right
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/grid_image_13/460x497/17f82f742ffe127f42dca9de82fb58b1/8/t/1598633116_051J22A1166_X0200_E13_GH.jpg?imwidth=430" class="images__third__right__images")
