.main_content
  .products
    %ul.product
      %li.product__image
        -# = link_to informations_index_path do
          %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/V/W/1598292039_051J22A1166_X0200_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
          .favorite__favorite_left
          .product_info
            .product_name
              -# = link_to informations_index_path do
                ミディスカート
                %pウール＆シルク
              .product_price
                <span>¥1000</span>
                        
      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/0/L/1598292183_054S01AM303_X5810_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")マリンセーター      
            %pコットン＆カシミア
            .product_price
              ¥1900

      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/B/6/1598292117_054S22AM714_X0800_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")マリンセーター      
            %pコットン＆カシミア
            .product_price
              ¥1500



    %ul.product
      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/V/W/1598292039_051J22A1166_X0200_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")ミディスカート
            %pウール＆シルク
            .product_price
              <span>¥1000</span>
                        
      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/0/L/1598292183_054S01AM303_X5810_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")マリンセーター      
            %pコットン＆カシミア
            .product_price
              ¥1900

      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/B/6/1598292117_054S22AM714_X0800_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")マリンセーター      
            %pコットン＆カシミア
            .product_price
              ¥1500


    %ul.product
      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/V/W/1598292039_051J22A1166_X0200_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")ミディスカート
            %pウール＆シルク
            .product_price
              <span>¥1000</span>
                        
      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/0/L/1598292183_054S01AM303_X5810_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")マリンセーター      
            %pコットン＆カシミア
            .product_price
              ¥1900

      %li.product__image
        %img(src="https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/B/6/1598292117_054S22AM714_X0800_E01_ZHC.jpg?imwidth=870" alt="画像" class="product__image__img")
        .favorite__favorite_left
        .product_info
          .product_name
            %a(href="single.html")マリンセーター      
            %pコットン＆カシミア
            .product_price
              ¥1500