.Address {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  &__box {
    height: auto;
    width: 700px;
    background-color: white;
  }
  &__item {
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    
    font-size: 20px;
  }
  &__form {
    margin: 30px 0;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__form-set {
  }
  &__form-set__name {
   
  }
  span {
    color:white;
    border: solid 2px red;
    background-color: red;
    border-radius: 5px;
 
  }
  &__form-set__fullname {
    display: flex;
  }
  &__form-set__fullname-lastname {
    width: 195px;
    height: 40px;
    margin-bottom: 15px;
    margin-right: 10px;
  }
  &__form-set__fullname-firstname {
    width: 195px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__Kana {
    
  }
  &__form-set__kanafull {
    display: flex;
  }
  &__form-set__kanafull-lastname {
    width: 195px;
    height: 40px;
    margin-bottom: 15px;
    margin-right: 10px;
  }
  &__form-set__kanafull-firstname {
    width: 195px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__PostalCode {
    
  }
  &__form-set__PostalCode-number {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__Prefecture_id {
    
  }
  &__form-set__Prefecture {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__municipality {
    
  }
  &__form-set__municipality-name {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__houseNumber{
    
  }
  &__form-set__houseNumber-math {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__apartment{

  }
  &__form-set__apartment-name {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__phone {
    
  }
  &__form-set__room-number {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
  }
  &____form-set__phone{

  }
  &__form-set__phone-number {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
  }
  &__form-set__user-register {

  }
  &__form-set__user-register-btn {
    background-color: black;  
    border: solid 1px black;
    color: white;
    font-weight: 800;
    width: 400px;
    height: 40px;
  }
  &__form-set__user-register-btn:hover {
    background-color: #dc143c;
  }
  .option {
    color: white;
    border: solid 2px #3CCACE;
    background-color: #3CCACE;
    border-radius: 5px;
  }
}
