* {
  box-sizing: border-box;
 }
  
 .Wrapper {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
 }
  
 .Logout {
  height: auto;
  &__boxs {
    width: 700px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: none;
  }
  &__btns {
    font-weight: 800;
    height: 50px;
    width: 450px;
    background-color: #ff7f50;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  &__btns:hover {
    background-color: red;
  }
 }
 

  